<header class="header-global">
<nav id="navbar-main" class="navbar d-flex flex-row align-items-center navbar-main navbar-expand-lg navbar-dark justify-content-between">
<ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
<li class="nav-item">
<a href="#" class="nav-link" role="button">
<span class="nav-link-inner-text">📺 Start</span>
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link" role="button">
<span class="nav-link-inner-text">📕 Docs</span>
</a>
</li>
</ul>
<div class="time text-center"></div>
</nav>
</header>