<head>
<link rel="canonical" href="https://echo.hackmoi.ca">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ECHO</title>
<meta name="author" content="Anonymous">
<meta name="description" content="">
<meta name="keywords" content="">

<meta property="og:type" content="website">
<meta property="og:url" content="https://echo.hackmoi.ca">
<meta property="og:title" content="ECHO">
<meta property="og:description" content="">
<meta property="og:image" content="">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://echo.hackmoi.ca">
<meta property="twitter:title" content="ECHO">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="">

<link rel="apple-touch-icon" sizes="60x60" href="">
<link rel="icon" type="image/png" sizes="32x32" href="">
<link rel="icon" type="image/png" sizes="16x16" href="">
<link rel="manifest" href="">
<link rel="mask-icon" href="" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">

<link type="text/css" rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="static/css/w95.css">
</head>